<footer>
        <hr>
         <div class="fo-container">
            <div class="fo-item-up">
                <div class="fo-item-up-1">
                    <a href="#">Enseña en Intesla</a> <br>
                    <a href="#">¿Quienes somos?</a>
                </div>
                <div class="fo-item-up-1">
                    <a href="#">Ponte en contacto con nosotros</a><br>
                    <a href="#">Política de Privacidad</a>
                </div>        
            </div>
               <div class="fo-item-down">
                   <h2>INTESLA</h2>
                   <p>@{{getAnio}} Intesla, Inc.</p>
               </div>
          </div>
    </footer>
</body>
</html>