     <div class="oferta-limitada">
       <p> <span class="en-cualquier-momento">En cualquier momento, en cualquier lugar </span>| Aprende a tu ritmo desde cualquier dispositivo</p> 
    </div>
  <header>
        <nav>
            <div class="row">
                <h1><a href="/">Intesla</a></h1>
                <ul class="main-nav">
                    <li><a href="#"> Categorías</a></li>
                    <li>
                        <div class="search">
                            <i class="fas fa-search"></i>
                            <p>Buscar cualquier cosa</p>
                        </div>
                    </li>
                    <li><a href="#"> Enseña en intesla</a></li>
                    <li><a href="#"> <i class="fas fa-shopping-cart fa-1x"></i></a></li>
                    <li>
                            <a href="login">
                                <div class="iniciar-sesion"> Iniciar Sesión</div>
                            </a>
                    </li>
                    <li>
                            <a href="register">
                                <div class="registrarse">  Regístrate</div>
                            </a>
                    </li>
                   
                </ul> 
            </div>
        </nav>
    </header>