
  {{> head}}
  {{> header}}
  
<section class="section-checkout">
   <div class="checkout">
       <div class="checkout-left">
        <h1>Pagar</h1>
        <div class="checkout-checkbox">    
                <label ><input type="radio" name="opcion" id=""> Nueva tarjeta de Pago</label><br>
                <label><input type="radio" name="opcion" id=""> Paypal</label>
        </div>

        <div class="checkout-form">
              <form action="post" method="POST" >
                  <input type="text" name="" id="checkout-form-item" placeholder="Nombre en la tarjeta">
                  <input type="text" name="" id="checkout-form-item" placeholder="Número de tarjeta">
                  <input type="text" name="" id="checkout-form-item" placeholder="MM / AA">
                  <input type="text" name="" id="checkout-form-item" placeholder="CVC">
                  <input type="text" name="" id="checkout-form-item" placeholder="Código postal">
              </form>
        </div>

        <h2>Detalles del pedido</h2>
         <div class="checkout-detalle">
            <div class="checkout-detalle-img" ><img src="assets/img/curso-intesla.jpg" alt="imagen-detalle-checkout" class="img-checkout-detalle"></div>
            <div class="checkout-detalle-titulo" >Diseño de Instalacion Electricas con AUTOCAD</div>
            <div class="checkout-detalle-precio" >129,99 US$</div>
         </div>
       </div>
    
        
        <div class="checkout-right">
            <div class="fixed-checkout-right">
                <h2>Resumen</h2>
                <div class="checkout-right-precio"><p class="checkout-right-precio-p1">Precio original:</p> <p>129,99 US$</p></div>
                <hr>
                <div class="checkout-right-total"><p class="checkout-right-precio-p2" > <span class="checkout-right-precio-total">Total:</span> </p> 
                    <p> <span class="checkout-right-precio-dolares">129,99 US$</span></p>
                </div>  
                <p id="text-checkout-right">Intesla está obligado por ley a recaudar los impuestos sobre las
                    transacciones de las compras realizadas en determinadas jurisdicciones fiscales.</p>
                <p id="text-checkout-right">Al completar la compra, aceptas estasa <a href="#" class="condiciones-uso-link"> Condiciones de uso</a>.</p>
                <button class="realizar-pago">Realizar Pago</button>
            </div>
          </div>
      </div>
  
</section>


      {{> footer}}
   