  {{> head}}

     <section class="section-subir-contenido">
        <div class="container-subir-contenido">
            <form action="/files" method="POST" enctype="multipart/form-data" id="form">
                <input type="text" name="nom_curso" id="" value="NOMBRE_CURSO" > <br><br>
                <input type="text" name="nom_modulo" id="" value="MOD1" > <br><br>
                Sube un archivo: <input type="file" name="nom_video" id="" > <br> <br>
                <input type="text" name="nom_modulo" id="" value="MOD2" > <br><br>
                Sube un archivo: <input type="file" name="nom_video" id="" > <br>  
                Sube un archivo: <input type="file" name="nom_video" id="" > <br> 
                
                <input type="submit" value="Enviar">
            </form>
        </div>
    </section>
     
     
  {{> footer}}