
  {{> head}}
  {{> header}}
    
    <section id="home">
        <article>  
            <div id="hola-usuario">
                <h2 >Empezemos a aprender, Eduardo</h2> 
            </div>
           
        <div id="container-flex-cursos">
            
            <div class="container-curso">
                <a href="videos">
                   <div class="curso-img">
                     <figure><img src="assets/img/profesor1.jpg" alt="imagen-del-curso" class="curso-img-img"></figure>
                    </div>
                <div class="curso-titulo"><p>¡Crea tu primer videojuego First Person Shooter!</p></div>
                <div class="curso-profesor"><p>Claudi Lázaro</p> </div>
                <div class="curso-acreditado"><p>Profesor acreditado</p> </div>
                <div class="curso-valoracion"><p>(estrellas de valoracion) (1)</p></div> <hr>
                <div class="curso-pie"><p>13 Lecciones + de 5 horas (img categoria)</p></div>
                </a>  
            </div>

            <div class="container-curso">
                <div class="curso-img"><img src="assets/img/profesor1.jpg" alt="imagen-del-curso" class="curso-img-img"></div>
                <div class="curso-titulo"><p>¡Crea tu primer videojuego First Person Shooter!</p></div>
                <div class="curso-profesor"><p>Claudi Lázaro</p> </div>
                <div class="curso-acreditado"><p>Profesor acreditado</p> </div>
                <div class="curso-valoracion"><p>(estrellas de valoracion) (1)</p></div> <hr>
                <div class="curso-pie"><p>13 Lecciones + de 5 horas (img categoria)</p></div>
            </div>
            <div class="container-curso">
                <div class="curso-img"><img src="assets/img/profesor1.jpg" alt="imagen-del-curso" class="curso-img-img"></div>
                <div class="curso-titulo"><p>¡Crea tu primer videojuego First Person Shooter!</p></div>
                <div class="curso-profesor"><p>Claudi Lázaro</p> </div>
                <div class="curso-acreditado"><p>Profesor acreditado</p> </div>
                <div class="curso-valoracion"><p>(estrellas de valoracion) (1)</p></div> <hr>
                <div class="curso-pie"><p>13 Lecciones + de 5 horas (img categoria)</p></div>
            </div>
        </div>
        </article>
    </section>


    {{> footer}}
   
