   
     {{> head}}
    <h1>PAGAR CURSO </h1>
    
      <form action="/pagar" method="POST">
          <input type="text" name="nom_tarjeta" placeholder="TARJETA"> <br><br>
          <input type="text" name="nombres" placeholder="NOMBRES"> <br> <br>
          <input type="submit" value="PAGAR AHORA">
      </form>


    {{> footer}}